*{
    margin: 0;
    padding: 0;
}

body{
    background: #E7E7E7;
}

.morning{
    color: #EAAC8B;
}

.evening{
    color: #E56B6F;
}

.night{
    color: #6D597A;
}

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}